$small-width: 767px;
$mid-width: 940px;
$medium-width: 992px;
$max-width: 1320px;

body {
    padding-top: 10rem;
    padding-bottom: 0;
    font-weight: 300;
    font-family: NotoSansHK-Regular;
    font-size: 1.4rem;
    @media screen and (max-width: $mid-width) {
        padding-top: 145px;
    }
    @media screen and (max-width: $small-width) {
        padding-top: 90px;
    }
}

.navbar {
    position: absolute;
    padding-top: 1.5rem;
    overflow: hidden;
    z-index: 20000;
    @media screen and (max-width: $small-width) {
        padding: 0;
    }
    button {
        position: relative;
        z-index: 20000;
        right: 20px;
    }
    .container-fluid {
        max-width: $max-width;
        margin: 0 auto;
        color: #6e90b8;
        @media screen and (max-width: $small-width) {
            padding: 0;
        }
        .navbar-brand, .nav-link{
            color: #6e90b8;
            font-size: 1.3rem;
            &:hover, &:focus {
                color: #6e90b8;
            }
            @media screen and (max-width: $medium-width) {
                font-size: 1rem;
            }
        }        
        .navbar-brand {      
            padding-right: 50px;      
            img {
                width: 260px;
            }            
            @media screen and (max-width: $max-width) {
                padding: 0 0 0 30px;
            }
            @media screen and (max-width: $mid-width) {
                padding: 0 0 0 20px;
            }
            @media screen and (max-width: $small-width) {
                padding: 15px 15px 13px;
                img {
                    width: auto;
                    height: 62px;
                }
            }
        }
        .navbar-collapse {
            padding: 4rem 0 0 3rem;            
            @media screen and (max-width: $max-width) {
                padding-left: 1rem;
            }
            @media screen and (max-width: 800px) {
                padding-left: 0;
            }
            @media screen and (max-width: $small-width) {
                background-color: #e0ebd3;
                background-image: url('../public/images/bg_wave.png');
                background-repeat: no-repeat;
                background-size: 100% 60%;
                // background-position-y: bottom;
                background-position-y: bottom;
                padding: 5rem 3rem 1.5rem 3rem;
            }
            ul {
                @media screen and (max-width: $small-width) {
                    padding-bottom: 13rem;
                }
                .nav-link {
                    padding-bottom: 0;
                    @media screen and (max-width: $small-width) {
                        font-size: 1.5rem;
                        padding-bottom: 2rem;
                    }
                }
                .nav-item {
                    position: relative;
                    display: inline-block;
                    margin: 0 1.6rem 0 0;  
                    
                    padding-right: 1rem;              
                    
                    background-image: url('../public/images/menu_d_s.png');
                    background-repeat: no-repeat;
                    background-size: auto 64%;
                    background-position-x: right;
                    background-position-y: bottom;
                    
                    @media screen and (max-width: $max-width) {
                        margin-right: 0.1rem;  
                    }
    
                    @media screen and (max-width: $small-width) {
                        background-size: auto 40%;
                        background-position-y: center;
                    }
    
                    .slash-set-1 {
    
                    }
                    .nav-item-sub {
                        display: none;
                        position: absolute;
                        // top: 3rem;
                        list-style: none;
                        margin: 0;
                        padding: 0;
                        width: 100%;
                        text-align: center;
                        background-color: #8ed7f2;
                        color: #ffffff;
                        li {
                            padding: 0.4rem 0 0.2rem;
                            a {
                                color: #ffffff;
                                text-decoration: none;
                                width: 100%;
                                display: block;
                            }
                            &.arrow-up {
                                color: #70abca;
                                background-color: #ffffff;
                                padding: 0;
                                line-height: 0;
                                padding: 0 0 2px;
                                &:hover {
                                    background-color: #ffffff;
                                }
                            }
                            // &:first-child {
                            //     padding: 0.4rem 0 0.2rem;
                            // }
                            &:last-child {
                                padding: 0.2rem 0 0.4rem;
                            }
                            &:hover {
                                background-color: #70abca;
                            }
                        }
                    }
                    &:hover {
                        a {
                            color: #8ED7F2;
                        }
                        background-image: url('../public/images/menu_h_s.png');
                    }
                    &:hover .nav-item-sub {
                        display: block;
                    }
                }
            }
            .lang-bar {
                @media screen and (max-width: $small-width) {
                    display: block !important;
                    text-align: center;
                    font-size: 1.5rem;
                }
                a {
                    color: #6e90b8;
                    text-decoration: none;
                    margin: 0 0.5rem 0 0;  
                    padding-right: 1.2rem;              

                    background-image: url('../public/images/menu_d_s.png');
                    background-repeat: no-repeat;
                    background-size: auto 64%;
                    background-position-x: right;
                    background-position-y: bottom;
                    @media screen and (max-width: $small-width) {
                        margin: 0 2rem 0 0;  
                        &:last-child {
                            margin: 0;
                        }
                    }
                    &:hover {                        
                        color: #8ed7f2;
                        background-image: url('../public/images/menu_h_s.png');
                    }                    
                }
            }
        }
    }
    .mobile-bg {
        display: none;
        background-color: #69aea1;
        -webkit-transform: skew(-35deg) scaleY(0.8666);
        transform: skew(-35deg) scaleY(0.8666);
        width: 100%;
        height: 150px;
        position: absolute;
        top: -50px;
        left: 230px;
        @media screen and (max-width: $small-width) {
            display: block;
        }
    }
}

main {
    @media screen and (max-width: $small-width) {
        position: relative;
        z-index: 10000;
        background-color: #ffffff;
    }
}

footer {
    text-align: center;
    color: #707070;
    font-size: 1rem;
    background-color: #f3fdf8;
    padding: 1.3rem 0 1.2rem;
    .footer-social-media {        
        text-align: center;
        padding: 2rem 0 0.5rem;
        i {
            margin: 0 7px;
        }
    }
    .footer-links {
        font-size: 1rem;
    }
    hr {
        color: #707070;
        margin: 1rem 2rem;
        height: 2px !important;
    }
    .copyright {
        font-size: 0.8rem;
    }
    a {
        color: #707070;
        text-decoration: none;
        &:hover {
            color: #707070;
        }
        padding: 0 10px;
        border-right: 1px solid #707070;
        &:last-child {
            border-right: 0;
        }
    }
}

.banner {
    img {
        width: 145%;
        position: relative;
        height: 100%;
        left: -23%;
    }
}

.pss {
    background-image: url(../public/images/footer_socialmedia_icon.svg);
    background-size: cover;
    width: 50px;
    height: 50px;
    background-position: center;
    display: inline-block;
    &.ps-wts {
        background-position-x: 0px;
    }
    &.ps-in {
        background-position-x: 234px;
    }
    &.ps-fb {
        background-position-x: 173px;
    }
    &.ps-youtube {
        background-position-x: 110px;
    }
    &.ps-map {
        background-position-x: 50px;
    }
}

.logo {
    width: 260px;
}

#gender-switcher {
    position: fixed;
    top: 350px;
    right: 0;
    width: 200px;
    z-index: 30000;
    display: none;
    @media screen and (max-width: $small-width) {
        top: 450px;
        width: 170px;
    }
    img {
        width: 100%;
    }
}

@media screen and (max-width: $mid-width) {
    .row {
        margin: 0;
        >* {
            padding: 0;
        }
    }
}