.privacy {
    color: #707070;
    padding-top: 20px;
    margin: auto;
    font-weight: 600;
    display: grid;
    font-size: 20px;
    section {
        display: block;
    }
    .pl-40px {
        padding-left: 40px;
    }

}